*{
	box-sizing:border-box;	
}
body{
	margin:0;
	padding:0;
	font-family:Shabnam;
}
@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam.woff') format('woff'),
    url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Bold.eot');
    src: url('../fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam-Bold.woff') format('woff'),
    url('../fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-Light.eot');
    src: url('../fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam-Light.woff') format('woff'),
    url('../fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}
body {
    margin: 0;
    font-family: Shabnam, fantasy;
    font-size: 16px;
    color: #656566;
    line-height: 25px;
    text-align: right;
    direction: rtl;
    background-color: #fafafa;
}
.main{
	background-color:#ffffff;
	width:auto;
	height:200px;	
}

.reyhoonPhoto{
	width:100%;
	height:50px;	
	background-color:#ffffff;
	border-bottom:1px solid #e5e5e5;
	text-align:center;
	position:fixed;
	top:0;
	left:0;
	z-index:2;
}
.reyhoonPhoto img{
	height:49px;	
}

.registerLogin{
	width:100%;
	height:54px;	
	display:block;
	text-align:center;
	border-bottom:1px solid #e5e5e5;
	position:fixed;
	top:51px;
	left:0;
	z-index:3;
	background-color:white;
	margin-top:-1px;
}
ul {
	list-style-type: none;
	margin-right: 38%;
	padding: 0;
}
li{
	float:right;
	padding-right:5%;
}
li a {
	display: inline-block;
	color: #323232;
	text-align: center;
	padding: 14px ;
	text-decoration: none;
	color:#949494;
}
li a:hover{
	color:#d20f63;	
	border-bottom:1px solid #d20f63;
	text-decoration:none;
}

.login{
	width:100%;
	height:240%;
	background-color:#eeeeee;	
	text-align:center;
	padding-top:5%;
	position:relative;
	top:105.5px;
}
.login .photoOfFirstnameAndLastName{
	position:absolute;
	height:7%;
	width:3%;
	
	margin-right:30%;
	margin-top:-2.6%;
}
.login p{
	font-size:11px;	
	color:#a39f9e;
}
.login form{
	padding-top:2%;	
}
.login input{
	padding-top:5px;
	text-align:right;	
}
form.loginAndRegisterForm .nameAndPasswordForm{
	padding: 13.5px;
  	font-size: 17px;
	background-color:white;
	width: 40%;
	text-align:right;
	height:35px;
	margin-top:1%;
}
form.loginAndRegisterForm .phoneAndEmail{
	width:19%;
	padding: 13.5px;
  	font-size: 17px;
    background: white;
	text-align:right;
	height:35px;	
	margin-top:1%;
	margin-left:0.8%;
	margin-right:0.8%;
}
form.loginAndRegisterForm #divOfLogin{
	display:none;	
}
form.loginAndRegisterForm::after {
	content: "";
	clear: both;
	display: table;
}
.login .forgottonLogin{
	width:50%;
	height:15%;	
	margin-right:30%;
	text-align:right;
	padding-top:3%;
	display:none;
}
.login .linkForgotton{
	font-size:12px;	
}
.login a{
	text-decoration:none;
}
.login .finalRegisterLogin{
	color:white;
	background-color:#d20f63;
	text-align:center;
	width:7%;
	height:7%;	
	border-radius:10px;
	margin:0 auto;
	left:50%;
	margin-top:3%;
}
input{
	transition: all 0.3s ease;
    border: 1px solid #eeeeee;	
}
input:focus{
	outline: none;
	border-color: #d20f63;	
	
}

.socialNetwork{
	position:relative;
	top:105.5px;
	width:100%;
	height:100px;
	border-bottom:1px solid #e5e5e5;
	background-color:white;
	padding-top:3%;
	padding-right:42%;
}
.socialNetwork img{
	width:3.5%;	
}

.navigatorInFooter{
	position:relative;
	top:105.5px;
	width:100%;
	height:100px;
	background-color:white;
	margin-top:-0.75%;
}
.navigatorInFooter ul{
	margin-right: 10%;
	font-size:14px;
}